<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GCDCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GCDCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GCDCore.Properties.Settings>
            <setting name="Erosion" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="Deposition" serializeAs="String">
                <value>27, 63, 139</value>
            </setting>
            <setting name="ValidateProjectOnLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempWorkspace" serializeAs="String">
                <value />
            </setting>
            <setting name="StartUpWorkspaceWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearWorkspaceOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarnAboutLongPaths" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoadFISLibrary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplyComparativeSymbology" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyTransparencySymbology" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComparativeSymbology3dPointQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComparativeSymbologyInterpolationError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComparativeSymbologyPointDensity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComparativeSymbologyDoD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComparativeSymbologyFISError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransparencyAssociatedLayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransparencyAnalysesLayers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransparencyErrorLayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoTransparencyValue" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="DefaultRasterFormat" serializeAs="String">
                <value>GeoTiff</value>
            </setting>
            <setting name="ChartWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ChartHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="AutomaticPyramids" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AddOutputLayersToMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MRU1" serializeAs="String">
                <value />
            </setting>
            <setting name="MRU2" serializeAs="String">
                <value />
            </setting>
            <setting name="MRU3" serializeAs="String">
                <value />
            </setting>
            <setting name="MRU4" serializeAs="String">
                <value />
            </setting>
            <setting name="MRU5" serializeAs="String">
                <value />
            </setting>
            <setting name="ChartFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="LoadLastProjectAtStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeveloperPreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoDSymbologyRange" serializeAs="String">
                <value>0</value>
            </setting>
        </GCDCore.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GCDCore.Properties.Settings>
            <setting name="PropertyGridLeftIndent" serializeAs="String">
                <value>16</value>
            </setting>
        </GCDCore.Properties.Settings>
    </applicationSettings>
</configuration>