<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GCDLib.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <GCDLib.My.MySettings>
            <setting name="AddOutputLayersToMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUsedProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ChartHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ChartWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ValidateProjectOnLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearWorkspaceOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddInputLayersToMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnAboutLongPaths" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoadFISLibrary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplyComparativeSymbology" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyTransparencySymbology" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComparativeSymbology3dPointQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComparativeSymbologyInterpolationError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComparativeSymbologyPointDensity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComparativeSymbologyDoD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComparativeSymbologyFISError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartUpWorkspaceWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransparencyAssociatedLayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransparencyAnalysesLayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransparencyErrorLayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoTransparencyValue" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DefaultRasterFormat" serializeAs="String">
                <value>ESRI GeoTIFF</value>
            </setting>
            <setting name="AutomaticPyramids" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempWorkspace" serializeAs="String">
                <value />
            </setting>
            <setting name="Erosion" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="Depsoition" serializeAs="String">
                <value>27, 63, 139</value>
            </setting>
        </GCDLib.My.MySettings>
    </userSettings>
</configuration>
