<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ogr_csharp" publicKeyToken="db5a52b08dc5b321" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5387.28600" newVersion="1.0.5387.28600" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>